<body>
    <header>
        <div class="logo_img">
            <a routerLink="/" routerLinkActive="active" class="active"><img
                    src="../../assets/images/Logo_au petit village.jpg" class="logo" alt="Logo-au-petit-village" /></a>
        </div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="nav-bar">
            <nav>
                <ul>
                    <li><a routerLink="/about" routerLinkActive="active" class="link">A propos</a></li>
                    <li><a routerLink="/product" routerLinkActive="active" class="link">Catalogue</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active" class="link">Contact</a></li>
                </ul>

            </nav>

        </div>
    </header>
</body>
<script>
    hamburger = document.querySelector(".hamburger");
    hamburger.onclick = function () {
        navBar = document.querySelector(".nav-bar");
        navBar.classList.toggle("active");
    }
</script>