<body>
    <header>
        <div class="logo">Au petit village</div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="nav-bar">
            <nav>
                <ul>
                    <li><a href="" class="active">Accueil</a></li>
                    <li><a href="" class="link">A propos</a></li>
                    <li><a href="" class="link">Catalogue</a></li>
                    <li><a href="" class="link">Contact</a></li>
                </ul>

            </nav>

        </div>
    </header>
</body>
<script>
    hamburger = document.querySelector(".hamburger");
    hamburger.onclick = function () {
        navBar = document.querySelector(".nav-bar");
        navBar.classList.toggle("active");
    }
</script>