<main>

    <body>
        <div class="content">

        </div>
        <footer class="footer">
            <div class="container-row">
                <div class="footer-col">
                    <h4>Au petit village</h4>
                    <ul>
                        <li><a>Accueil</a></li>
                        <li><a>Catalogue</a></li>
                        <li><a>A propos</a></li>
                        <li><a>Contact</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Besoin d'aide ?</h4>
                    <ul>
                        <li><a>FAQ</a></li>
                        <li><a>Mentions légales</a></li>
                        <li><a>Retour et remboursement</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Réseaux sociaux</h4>
                    <div class="social-links">
                        <a href=""><img src=""></a>
                        <a href=""><img src=""></a>
                        <a href=""><img src=""></a>
                        <a href=""><img src=""></a>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</main>